<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="../assets/css/ready.css">
	<link rel="stylesheet" href="../assets/css/demo.css">

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/customer/" class="logo">
					<img src="/assets/logo/logo.png" alt="logo" height="40" width="150">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<form class="col-md-10 navbar-left navbar-form nav-search mr-md-3" action="" id="search">
						<div class="input-group input-square">
							<input type="text" placeholder="Search ..." class="form-control input-square">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="btn">
							<a href="/customer/createsurvey">
								<button class="btn btn-primary ">Create Survey</button>
							</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="/assets/img/nasir.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Nasir Ali
								{{!-- <span class="user-level">Business Analyst</span> --}}
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>

						<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
							<ul class="nav">
								{{!-- <li>
									<a href="#profile">
										<span class="link-collapse">My Profile</span>
									</a>
								</li> --}}
								<li>
									<a href="/customer/logout">
										<span class="link-collapse">Logout</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item active">
						<a href="/customer/">
							<i class="la la-home"></i>
							<p>Dashboard</p>
							<span class="badge badge-count card-color">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/openSurvey">
							<i class="la la-check-circle-o"></i>
							<p>Open Surveys</p>
							<span class="badge badge-count card-color">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/closedSurvey">
							<i class="la la-clock-o la"></i>
							<p>closed Surveys</p>
							<span class="badge badge-count card-color">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/draftSurvey">
							<i class="la la-pencil-square"></i>
							<p>Draft Surveys</p>
							<span class="badge badge-count card-color">5</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid results-div">
					<h4 class="page-title">{{title}}</h4>

				</div>
			</div>






		</div>
	</div>
	</div>
	<!-- Modal -->

</body>

<script src="../assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugin/chartist/chartist.min.js"></script>
<script src="../assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="../assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/js/ready.min.js"></script>
<script src="../assets/js/demo.js"></script>
{{!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> --}}


   <script type="text/javascript">

   async function drw(qid,title,ot,or){
       $(".results-div").append('<div class="row"> <div class="col-md-12"> <div id="p'+qid+'" style="width: 100%; height: 400px;"></div> </div></div>');
	   await google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart(qid,title,'cf',ot,or));

   }
   async function drawHist(qid,title,ot,or){
	   $(".results-div").append('<div class="row"><div class="col-md-12"><div id="b'+qid+'" style="width: 100%; height: 400px;"></div></div></div>');
	  await google.charts.load('current', {'packages':['bar']});
     google.charts.setOnLoadCallback(drawStuff(qid,title,'cf',ot,or));
   }
   //var count =1;
   {{#each questions}}
   if('{{q_type}}'=='radio' || '{{q_type}}'=='checkbox')
     {
     var ot=[];
	 var or =[];
	 var title='{{title}}';
	 var id='{{@key}}';
	 {{#each options}}
	 ot.push('{{op_title}}');
	 or.push('{{op_res}}')
	 {{/each}}
        if('{{q_type}}'=='radio')
		{
	 	drw(id,title,ot,or);
		}
		else if('{{q_type}}'=='checkbox')
		{
         drawHist(id,title,ot,or);
		}
	 }
     if('{{q_type}}'=='text')
     { //var tr=[];
	   let t=`
       <div class="row bg-white" style="margin:0px;">
						<div class="col-md-11" style="margin:10px auto;display:block;height:250px;overflow-y:scroll;">
							<table class="table table-striped">
								<thead>
									<th>
										{{title}}
									</th>
								</thead>

								<tbody>`;
                                 {{#each q_res}}
                                  //alert('{{this}}');
								   t+=` <tr>

									<td>{{this}}</td>

									</tr>`;
		                          {{/each}}


								t+=` </tbody>
							</table>
						</div>
					</div>`;
				$(".results-div").append(t);
	 }
		 //count++;
   {{/each}}




	function drawChart(qno,title,cf,opt,res) {

		var option_res = [];
		option_res.push(['Task', 'Hours per Day']);
		var count =0;
		for(var i =0; i < opt.length; i++){
			//alert('loop');
			option_res.push([opt[i],parseInt(res[i])]);
			//count++;
		}
		//console.log('option_res',option_res);
		console.log(option_res);
		var d= [['Task', 'Hours per Day'],['o1',10],['o2',5]];
		console.log(opt);
        var data = google.visualization.arrayToDataTable(option_res);

        var options = {
          title: 'Q'+qno+'.  '+title
        };

        var chart = new google.visualization.PieChart(document.getElementById('p'+qno));

        chart.draw(data, options);
      }

	function drawStuff(qno,title,cf,opt,res) {
		var option_res = [];
		option_res.push(['Options', 'Percentage']);
		var count =0;
		for(var i =0; i < opt.length; i++){
			//alert('loop');
			option_res.push([opt[i],parseInt(res[i])]);
			//count++;
		}
		console.log('option_res',option_res);
        console.log(res);
        var data = new google.visualization.arrayToDataTable(option_res);
        var options = {
          title: '',
          legend: { position: 'none' },
          chart: { title: 'Q'+qno+'.  '+title,
                   subtitle: '' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "10%" }
        };

        var chart = new google.charts.Bar(document.getElementById('b'+qno));
        chart.draw(data, options);
      }





    </script>


</html>

