<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Target Audience</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="/assets/css/ready.css">
	<link rel="stylesheet" href="/assets/css/demo.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/mapstyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/slider/style.css">


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					<img src="/assets/logo/logo.png" alt="logo" height="40" width="150">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<form class="col-md-10 navbar-left navbar-form nav-search mr-md-3" action="" id="search">
						<div class="input-group input-square" style="margin-top: 15px">
							<input type="text" placeholder="Search ..." class="form-control input-square">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="btn">
							<a href="builder.html">
								<button class="btn btn-info">Create Survey</button>
							</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="/assets/img/nasir.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								Nasir Ali
								<span class="user-level">Business Analyst</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>
						<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
							<ul class="nav">
								<li>
									<a href="#profile">
										<span class="link-collapse">My Profile</span>
									</a>
								</li>
								<li>
									<a href="#logout">
										<span class="link-collapse">Logout</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a href="/customer/">
							<i class="la la-home"></i>
							<p>Dashboard</p>
							<span class="badge badge-count badge-info">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/openSurvey">
							<i class="la la-check-circle-o"></i>
							<p>Open Surveys</p>
							<span class="badge badge-count badge-info">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/closedSurvey">
							<i class="la la-clock-o la"></i>
							<p>closed Surveys</p>
							<span class="badge badge-count badge-info">5</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/customer/draftSurvey">
							<i class="la la-pencil-square"></i>
							<p>Draft Surveys</p>
							<span class="badge badge-count badge-info">5</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Select Survey Target</h4>
					<div class="row">





						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#location">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Location</b></h4>
										</div>
										<div class="title">
											<h6>{{location}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fas fa-map-marked-alt"></i>
										</div>
									</div>
								</div>
							</a>
						</div>



						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#gender">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Gender</b></h4>
										</div>
										<div class="gender">
											<p>{{gender}}</p>
										</div>
										<div class="icon icon-big text-right">
											<i class="fa fa-venus-mars"></i>
										</div>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#age">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Age</b></h4>
										</div>
										<div class="title">
											<h6>{{ageR_1}} to {{ageR_2}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fa fa-child" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</a>
						</div>

						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#education">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Education</b></h4>
										</div>
										<div class="title">
											<h6>{{education}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fas fa-graduation-cap"></i>
										</div>
									</div>
								</div>
							</a>
						</div>

					</div>
					<div class="row">

						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#occupation">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Occupation</b></h4>
										</div>
										<div class="title">
											<h6>{{occupation}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
								</div>
							</a>
						</div>



						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#maritalStatus">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Marital Status</b></h4>
										</div>
										<div class="title">
											<h6>{{marital_status}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fa fa-heart"></i>
										</div>
									</div>
								</div>
							</a>
						</div>


						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#income">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Annual Income</b></h4>
										</div>
										<div class="title">
											<h6>{{incomeR_1}} to {{incomeR_2}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fas fa-dollar-sign"></i>
										</div>
									</div>
								</div>
							</a>
						</div>



						<div class="col-md-3">
							<a href="" style="width: 100%; text-decoration: none;" data-toggle="modal"
								data-target="#religion">
								<div class="card card-stats card-info">
									<div class="card-body card-border">
										<div class="title">
											<h4><b>Religion</b></h4>
										</div>
										<div class="title">
											<h6>{{religion}}</h6>
										</div>
										<div class="icon icon-big text-right">
											<i class="fas fa-mosque"></i>
										</div>
									</div>
								</div>
							</a>
						</div>



					</div>
				</div>
			</div>
		</div>





		<!-- Model for Location  -->
		<div class="modal fade bd-example-modal-lg" tabindex="-1" id="location" role="dialog" aria-labelledby="location"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<form action="/customer/updateTA?ta_atr=location&id={{id}}" method="POST">
					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="exampleModalLabel">Location:</h5>
						</div>
						<div class="modal-body">

							<input id="pac-input" name="location" class="controls" type="text"
								placeholder="Search Place" value={{location}}>
							<div id="map"></div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</form>


			</div>
		</div>




		<!-- Model for Gender  -->
		<div class="modal fade" id="gender" tabindex="-1" role="dialog" aria-labelledby="gender" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=gender&id={{id}}" method="POST">

					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="genderTitle">Gender:</h5>
						</div>
						<div class="modal-body">
							<div class="custom-control custom-radio">
								<input type="radio" id="All" name="gender" class="custom-control-input"
									checked="checked" value="All">
								<label class="custom-control-label" for="All">All</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="male" name="gender" class="custom-control-input" value="male">
								<label class="custom-control-label" for="male">Male</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="female" name="gender" class="custom-control-input"
									value="female">
								<label class="custom-control-label" for="female">Female</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="other" name="gender" class="custom-control-input" value="other">
								<label class="custom-control-label" for="other">Other</label>
							</div>

							<div class="modal-footer">
								<button type="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="genderSave">Update</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>


		<!-- Model for Age  -->
		<div class="modal fade" id="age" tabindex="-1" role="dialog" aria-labelledby="age" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=age&id={{id}}" , method="POST">
					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="ageTitle">Age:</h5>
						</div>
						<div class="modal-body">
							<section class="range-slider" id="facet-price-range-slider">
								<input name="range_1" min="13" max="100" step="1" type="range" value={{ageR_1}}>
								<input name="range_2" min="15" max="100" step="1" type="range" value={{ageR_2}}>
							</section>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</div>
					</div>
				</form>


			</div>
		</div>


		<!-- Model for Education  -->
		<div class="modal fade" id="education" tabindex="-1" role="dialog" aria-labelledby="education"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=education&id={{id}}" , method="POST">
					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="exampleModalLabel">Education:</h5>
						</div>
						<div class="modal-body">
							<fieldset>
								<legend>Education</legend>
								{{#select education}}
								<select class="form-control dropdown" id="education" name="education">
									<option value="All">All</option>
									<optgroup label=" Education:">
										<option value="illitrates">Illitrates</option>
										<option value="primary">Primary</option>
										<option value="secondary">Secondary</option>
										<option value="secondaryabove">Secondary & Above</option>
										<option value="intermediate">Intermediate</option>
										<option value="intermediateabove">Intermediate & Above</option>
										<option value="bachelor">Bachelor</option>
										<option value="bachelorabove">Bachelor & Above</option>
										<option value="phd">Phd</option>
										<option value="phdabove">Phd & Above</option>
									</optgroup>
									{{/select}}
								</select>


							</fieldset>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</form>

			</div>
		</div>



		<!-- Model for Occupation  -->
		<div class="modal fade" id="occupation" tabindex="-1" role="dialog" aria-labelledby="occupation"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=occupation&id={{id}}" , method="POST">
									<div class="modal-content">
					<div class="modal-header" style="background: #335BFF; color: white">
						<h5 class="modal-title" id="exampleModalLabel">Occupation:</h5>
					</div>
					<div class="modal-body">

						<div class="card">
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" id="o_all" type="checkbox" value="All" name="occupation"{{#checkbox occupation 'All'}}  {{/checkbox}}>
								<span class="form-check-sign">All</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="health care" name="occupation" {{#checkbox occupation 'health care'}}  {{/checkbox}}>
								<span class="form-check-sign">Health Care</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="engineering" name="occupation" {{#checkbox occupation 'engineering'}}  {{/checkbox}}>
								<span class="form-check-sign">Engineering</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="business" name="occupation"{{#checkbox occupation 'business'}}  {{/checkbox}}>
								<span class="form-check-sign">Business</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="education" name="occupation" {{#checkbox occupation 'education'}}  {{/checkbox}}>
								<span class="form-check-sign">Education</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="agriculture" name="occupation"{{#checkbox occupation 'agriculture'}}  {{/checkbox}}>
								<span class="form-check-sign">Agriculture</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="computer science" name="occupation" {{#checkbox occupation 'computer science'}}  {{/checkbox}}>
								<span class="form-check-sign">Computer Science related</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="transportation" name="occupation" {{#checkbox occupation 'transportation'}}  {{/checkbox}}>
								<span class="form-check-sign">Transportation</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" class="occ" type="checkbox" value="media" name="occupation" {{#checkbox occupation 'media'}}  {{/checkbox}}>
								<span class="form-check-sign">Media/Production</span>
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</div>
				</form>
				
			
			</div>
		</div>

		<!-- Model for Marital Status  -->
		<div class="modal fade" id="maritalStatus" tabindex="-1" role="dialog" aria-labelledby="maritalStatus"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=marital_status&id={{id}}" , method="POST">
					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="exampleModalLabel">Marital Status:</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="custom-control custom-radio">
										<input type="radio" id="Single" name="Status" class="custom-control-input"
											value="single">
										<label class="custom-control-label" for="Single">Single</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="engaged" name="Status" class="custom-control-input"
											value="engaged">
										<label class="custom-control-label" for="engaged">Engaged</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="Married" name="Status" class="custom-control-input"
											value="married">
										<label class="custom-control-label" for="Married">Married</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="divorced" name="Status" class="custom-control-input"
											value="divorced">
										<label class="custom-control-label" for="divorced">Divorced</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="All" name="Status" class="custom-control-input"
											checked="checked" value="All">
										<label class="custom-control-label" for="All">All</label>
									</div>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</form>


			</div>
		</div>



		<!-- Model for Income  -->
		<div class="modal fade" id="income" tabindex="-1" role="dialog" aria-labelledby="income" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=income&id={{id}}" , method="POST">
					<div class="modal-content">
						<div class="modal-header" style="background: #335BFF; color: white">
							<h5 class="modal-title" id="incomeTitle">Income Per Month:</h5>
						</div>
						<div class="modal-body">
							<section class="range-slider" id="facet-price-range-slider-income">
								<input name="incomeR_1" value={{incomeR_1}} min="100000" max="10000000" step="1"
									type="range">
								<input name="incomeR_2" value={{incomeR_2}} min="100000" max="10000000" step="1"
									type="range">
							</section>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Save changes</button>
							</div>

						</div>
					</div>
				</form>

			</div>
		</div>


		<!-- Model for Religion  -->
		<div class="modal fade" id="religion" tabindex="-1" role="dialog" aria-labelledby="religion" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="/customer/updateTA?ta_atr=religion&id={{id}}" , method="POST">
								<div class="modal-content">
					<div class="modal-header" style="background: #335BFF; color: white">
						<h5 class="modal-title" id="exampleModalLabel">Religion:</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						<div class="card">
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="All" name="religion"{{#checkbox religion 'All'}}  {{/checkbox}}> 
								<span class="form-check-sign">All</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="muslim" name="religion"{{#checkbox religion 'muslim'}}  {{/checkbox}} >
								<span class="form-check-sign">Muslim</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="atheist" name="religion"{{#checkbox religion 'atheist'}}  {{/checkbox}}>
								<span class="form-check-sign">Atheist</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="buddhsim" name="religion"{{#checkbox religion 'buddhsim'}}  {{/checkbox}}>
								<span class="form-check-sign">Buddhism</span>
							</label>

							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="christianity" name="religion" {{#checkbox religion 'christianity'}}  {{/checkbox}}>
								<span class="form-check-sign">Christianity</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="hinduism" name="religion"{{#checkbox religion 'hinduism'}}  {{/checkbox}}>
								<span class="form-check-sign">Hinduism</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="secular" name="religion"{{#checkbox religion 'secular'}}  {{/checkbox}}>
								<span class="form-check-sign">Secular</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="sikhism" name="religion" {{#checkbox religion 'sikhism'}}  {{/checkbox}}>
								<span class="form-check-sign">Sikhism</span>
							</label>
							<label class="form-check-label" style="padding: 10px;">
								<input class="form-check-input" type="checkbox" value="other" name="religion" {{#checkbox religion 'other'}}  {{/checkbox}}>
								<span class="form-check-sign">Other</span>
							</label>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</div>
				</form>

			</div>
		</div>








		<footer class="footer" style="position: absolute;bottom: 0px; width:100%">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="#">
								PayPerSurvey
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Help
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Licenses
							</a>
						</li>
					</ul>
				</nav>
				<div class="copyright ml-auto">
					2018, made with <i class="la la-heart heart text-danger"></i> by <a href="#">PayPerSurvey</a>
				</div>
			</div>
		</footer>

</body>
<script src="/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/js/ready.min.js"></script>
<script src="/assets/js/demo.js"></script>
<script type="text/javascript" src="/assets/js/mapscript.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaS6mfcsGApLEEY13N0VYkIuQXZWyYp0c&libraries=places&callback=initAutocomplete"
	async defer></script>
<script type="text/javascript" src="/assets/js/slider/script.js"></script>
<script type="text/javascript" src="/assets/js/slider/income.js"></script>
<script type="text/javascript" src="/assets/js/slider/Jquery.js"></script>
<script>
	$(document).on('change', '#o_all', function() {
    if(this.checked) {
		alert("checked")
		//$('.occupation').removeAttr('checked');
		$(".occ").attr('checked','checked');
		console.log();
      // checkbox is checked
    }
	if(!this.checked) {
		alert("unchecked")
      // checkbox is checked
    }
});
</script>
</html>